<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DEMO">
        <activity
            android:name=".start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:label="nologin" android:name=".nologin" />
            <activity android:label="logining" android:name=".longing" />
            <activity android:label="setting" android:name=".setting" />
            <activity android:label="material" android:name=".material"/>
            <activity android:label="home_Add" android:name=".home_Add"/>
            <activity android:label="signup" android:name=".signup"/>
            <activity android:label="home_Search" android:name=".home_Search"/>
            <activity android:name=".home_Remove" android:label="home_Remove"/>
            <activity android:name=".home_help" android:label="home_help"/>
            <activity android:name=".diet_inspection" android:label="home_inspection"/>


    </application>



</manifest>